<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Introducción a Vue</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="nav-bar"></nav>
      <!-- CARRITO -->
      <div class="cart">{{ cart }}</div>
      <div class="product-container">
        <div class="product-image">
          <!-- Y asi agrego la imagen como una etiqueta más -->
          <image v-bind:src="image">
        </div>
        <div class="product-info">
          <h1>{{ product }}</h1>
          <p class="oferta-tag" v-show="oferta">Hoy en oferta!</p>
          <p>{{ description }}</p>

          <!-- VERIFICACIÓN DE STOCK -->
          <p class="stock-tag" v-if="stock">Hay stock</p>
          <p class="no-stock-tag" v-if="!stock">No Hay stock</p>
          <p v-if="None">Consultar Stock</p>
          <p class="pocas-unidades-tag" v-if="stock && inventory.socks <= 5">Pocas unidades</p>
          
          <!-- DETALLES PRODUCTO -->
          <ul>
            <!-- voy a mostrar detalles del producto -->
            <li v-for="detalle in detalles">{{ detalle }}</li>
          </ul>
          <!-- COLORES DEL PRODUCTO -->
          <!-- necesito que cada color tenga su id -->
          <div class="color-tag" :key="colores.id" v-for="color in colores" @mouseover="updateImage(colores.image)">{{colores.color}}</div>
          <ul>
            <!-- voy a mostrar detalles del producto -->
            <li v-for="talle in talles">{{ talle }}</li>
          </ul>
          <!-- AGREGAR AL CARRITO (BUTTON) -->
          <button class="button" v-on:click="cart += 1">Agregar al carrito</button>
          <!-- CHALLENGE 2 -->
          <p>Sticker Random <a class="sticker-random" v-bind:href="url">aqui</a></p>
          <img style="display: none; width: 40px; height: 40px;" v-bind:src="url">
        </div>
      </div>
    </div>

    <!-- Import Js -->
    <script src="./main.js"></script>
    <!-- Montando la aplicacion -->
    <script>
      const mountApp = app.mount("#app");
    </script>
  </body>
</html>
